#container,header,footer,body{
    display: grid;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;

}


header,footer{
    place-items: center;
}
#container{
    max-width:700px;
    height:500px;
   

    display: grid;
    grid-template-columns: 3fr 7fr ;
    grid-template-rows:2fr 4fr 1fr ;
    grid-template-areas: "header  header" "aside article" "footer footer";
}
header{
    grid-area: header;
    background-color: #666;
}
header h1{
    color: #fff;
    font-size:35px;
}
aside{
    grid-area: aside;
    background-color: #ccc;

    box-sizing: border-box;

    padding: 20px 30px 20px 0px;
}
aside ul li{
    list-style-type: none;
}
aside ul li a{
    color: rgb(34, 134, 255);

}
article{
    grid-area: article;
    background-color: #f1f1f1;
    color: #333;

    padding: 20px ;
}

footer{
    grid-area: footer;
    background-color: #777;
    color: #fff;
}